;;;
;;; mixer.scm - Gauche SDL_mixer binding
;;;

;;;;;
;;@type cmd
;;@@parse-relative #f

(define-module sdl.mixer
  (use sdl)
  (export-all)
  )
(select-module sdl.mixer)

(dynamic-load "gauche-sdl-mixer")
